<h1>View</h1>
<style>
    .run-group {
        fill: none;
        stroke: steelblue;
        stroke-width: 2px;
        clip-path: url(#clip);
    }

    /*  .annotation-group {
        clip-path: url(#clip);
    } */
</style>

<div class='view'>


    <svg width="960" height="550"></svg>
    <div class='column-panel' ng-cloak>
        <md-content>


            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab ng-repeat='run in runs' label='{{run}}'></md-tab>
            </md-tabs>


        </md-content>
    </div>
</div>