<body ng-controller="importPanelController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h4>Import</h4>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                X
            </md-button>
        </div>
    </md-toolbar>
    <md-list ng-repeat='result in results' flex>
        <md-list-item class="md-2-line" ng-click="secondPage()">
            <md-icon ng-if='result.type == "run"' md-svg-src="../../assets/img/runIcon.svg" aria-label="Run Icon"></md-icon>
            <md-icon ng-if='result.type == "folder"' md-svg-src="../../assets/img/folderIcon.svg" aria-label="Run Icon"></md-icon>
            <div class="md-list-item-text">
                <h4>{{result.name}}</h4>
            </div>
            <div ng-if='result.type == "run"'>
                <md-checkbox aria-label="Checkbox 1">
                </md-checkbox>
                <md-button>
                    <md-icon md-svg-src="../../assets/img/previewIcon.svg" aria-label="Folder Icon"></md-icon>
                </md-button>
            </div>
    </md-list>
    <md-dialog-actions layout="row">


        <md-button >
            Cancel
        </md-button>
        <md-button>
            Confirm
        </md-button>
    </md-dialog-actions>

</body>