<div ng-controller="importPanelController">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-show="activePage.parent != undefined">Back</md-button>
            <h4>Import</h4>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                X
            </md-button>
        </div>
    </md-toolbar>
    <div ng-show='!preview'>
        <md-list ng-repeat='result in activePage.data' flex>
            <md-list-item class="md-2-line" ng-click="componentClick(result)">
                <md-icon ng-if='result.type == "run"' md-svg-src="../../assets/img/runIcon.svg" aria-label="Run Icon"></md-icon>
                <md-icon ng-if='result.type == "folder"' md-svg-src="../../assets/img/folderIcon.svg" aria-label="Run Icon"></md-icon>
                <div class="md-list-item-text">
                    <h4>{{result.name}}</h4>
                </div>
                <div ng-if='result.type == "run"'>
                    <md-checkbox aria-label="Checkbox 1">
                    </md-checkbox>
                    <md-button>
                        <md-icon md-svg-src="../../assets/img/previewIcon.svg" aria-label="Preview Icon" ng-click="previewChange()"></md-icon>
                    </md-button>
                </div>
        </md-list>
        <md-dialog-actions layout="row">


            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button>
                Confirm
            </md-button>
        </md-dialog-actions>
    </div>

    <div ng-show='preview'>
        <h1>GRAPH</h1>
        <md-button ng-click="previewChange()">
            back
        </md-button>
    </div>
</div>